body {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
/* header section styles */
.header-container {
  width: 1600px;
  height: 808px;
  background-image: url("images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0px;
  display: flex;  
  align-items: center;
}

 .header-content {
  width: 525px;  
  position: absolute;
  right: 230px; 
  
  ; 
} */
.header-title {
  color: #030202;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  width: 525px;
}

.header-description {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 525px;
}
.primary-btn {
  border: 0;
  border-radius: 5px;
  background-color: #f15b22;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 160px;
  height: 65px;
  position: bottom right;
}

/* Main Section Styles */
/* failure Section styles */
.failure {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}
.failure-img-container {
  width: 530px;
  height: 530px;
  border-radius: 265px;
  background-color: #f15b2233 20%;
}

.my-failure-img {
  width: 450px;
}
.failure-details {
  align-items: center;
  text-align: left;
  width: 290px;
  padding-right: 320px;
  margin-top: 250px;
}
.failure-title {
  color: #151414;
  width: 290px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}
.failure-description {
  width: 290px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}

.failure-list {
  width: 290px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* my plans section styles */
.my-plans-container {
  width: 500px;
  margin-top: 100px;
}
.my-plans {
  display: flex;
  justify-content: space-around;
  padding-left: 200px;
}
.my-plans-title {
  text-align: center;
}

.my-plans-img {
  width: 50px;
  height: 50px;
}
/* banner section styles */
.banner-container {
  background-image: url("images/watch.png"), url("images/gradient1.png");
  width: 1000px;
  height: 200px;
}
.banner-title {
  color: #fff;
  position: relative;
  top: 30px;
  left: 30px;
  font-size: 35px;
  font-weight: 800;
}
.secondary-btn {
  border: 0;
  border-radius: 5px;
  color: #f15b22;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 160px;
  height: 65px;  
  text-align: center;
  position: relative;
  top: 30px;
  left: 30px;
}
/* *
header {
    height: 808px;
    background-color: red;
}
main {
    
    height: 1844px;
    background-color: greenyellow;
}
footer {
    height: 577px;
    background-color:  yellow;
} */
